<div class="container">
    <h2 class="mb-2">Margin</h2>
    <div class="m-0">Margin 0</div>
    <div class="m-1">Margin 1</div>
    <div class="m-3">Margin 3</div>
    <h3>code</h3>
    <pre class="shadow-xl codeeditor">

    &lt;div class="m-0">
        Margin 0
    &lt;/div>
    &lt;div class="m-1">
        Margin 1
    &lt;/div>
    &lt;div class="m-3">
        Margin 3
    &lt;/div>

    </pre>


    <h2 class="mb-2">Padding</h2>
    <div class="p-0">Padding 0</div>
    <div class="p-1">Padding 1</div>
    <div class="p-2">Padding 2</div>
    <div class="p-3">Padding 3</div>
    <h3>code</h3>
    <pre class="shadow-xl codeeditor">
    &lt;div class="p-0">
        Padding 0
    &lt;/div>
    &lt;div class="p-1">
        Padding 1
    &lt;/div>
    &lt;div class="p-2">
        Padding 2
    &lt;/div>
    &lt;div class="p-3">
        Padding 3
    &lt;/div>
    </pre>

    <h2 class="mb-2">Opacity</h2>
    <div class="o-10">Opacity 0.1</div>
    <div class="o-20">Opacity 0.2</div>
    <div class="o-30">Opacity 0.3</div>
    <div class="o-40">Opacity 0.4</div>
    <div class="o-50">Opacity 0.5</div>
    <div class="o-60">Opacity 0.6</div>
    <div class="o-70">Opacity 0.7</div>
    <div class="o-80">Opacity 0.8</div>
    <div class="o-90">Opacity 0.9</div>
    <div class="o-100">Opacity 1</div>
    <h3>code</h3>
    <pre class="shadow-xl codeeditor">
    &lt;div class="o-10">
        Opacity 0.1
    &lt;/div>
    &lt;div class="o-20">
        Opacity 0.2
    &lt;/div>
    &lt;div class="o-30">
        Opacity 0.3
    &lt;/div>
    &lt;div class="o-40">
        Opacity 0.4
    &lt;/div>
    &lt;div class="o-50">
        Opacity 0.5
    &lt;/div>
    &lt;div class="o-60">
        Opacity 0.6
    &lt;/div>
    &lt;div class="o-70">
        Opacity 0.7
    &lt;/div>
    &lt;div class="o-80">
        Opacity 0.8
    &lt;/div>
    &lt;div class="o-90">
        Opacity 0.9
    &lt;/div>
    &lt;div class="o-100">
        Opacity 1
    &lt;/div>
    </pre>

    <h2 class="mb-2">Border-radius</h2>
    <button class="br-default">Default Border Radius</button>
    <button class="br-none">No Border Radius</button>
    <button class="br-sm">Small Border Radius</button>
    <button class="br-lg">Large Border Radius</button>
    <button class="br-full">Full Border Radius</button>
    <h3>code</h3>
    <pre class="shadow-xl codeeditor">
    &lt;button class="br-default">
        Default Border Radius
    &lt;/button>
    &lt;button class="br-none">
        No Border Radius
    &lt;/button>
    &lt;button class="br-sm">
        Small Border Radius
    &lt;/button>
    &lt;button class="br-lg">
        Large Border Radius
    &lt;/button>
    &lt;button class="br-full">
        Full Border Radius
    &lt;/button>
    </pre>



    <h2 class="mb-2">Text-Align</h2>
    <div class="text-left">Text Left Aligned</div>
    <div class="text-center">Text Center Aligned</div>
    <div class="text-right">Text Right Aligned</div>
    <div class="text-justify">Text Justified</div>
    <h3>code</h3>
    <pre class="shadow-xl codeeditor">
    &lt;div class="text-left">
        Text Left Aligned
    &lt;/div>
    &lt;div class="text-center">
        Text Center Aligned
    &lt;/div>
    &lt;div class="text-right">
        Text Right Aligned
    &lt;/div>
    &lt;div class="text-justify">
        Text Justified
    &lt;/div>
    </pre>


    <h2 class="mb-2">Text-transform</h2>
    <div class="text-transform-uppercase">Uppercase Text</div>
    <div class="text-transform-lowercase">Lowercase Text</div>
    <div class="text-transform-capitalize">Capitalized Text</div>
    <div class="text-transform-none">Normal Text</div>
    <h3>code</h3>
    <pre class="shadow-xl codeeditor">

    &lt;div class="text-transform-uppercase">
        Uppercase Text
    &lt;/div>
    &lt;div class="text-transform-lowercase">
        Lowercase Text
    &lt;/div>
    &lt;div class="text-transform-capitalize">
        Capitalized Text
    &lt;/div>
    &lt;div class="text-transform-none">
        Normal Text
    &lt;/div>
    </pre>



    <h2 class="mb-2">Text-Decoration</h2>
    <div class="text-decoration-underline">Underlined Text</div>
    <div class="text-decoration-line-through">Line Through Text</div>
    <div class="text-decoration-none">Text With No Decoration</div>
    <h3>code</h3>
    <pre class="shadow-xl codeeditor">

    &lt;div class="text-decoration-underline">
        Underlined Text
    &lt;/div>
    &lt;div class="text-decoration-line-through">
        Line Through Text
    &lt;/div>
    &lt;div class="text-decoration-none">
        Text With No Decoration
    &lt;/div>
    </pre>



    <h2 class="mb-2">Border</h2>
    <div class="border-none m-1">No Border</div>
    <div class="border-1 m-1">1px Solid Border</div>
    <div class="border-2 m-1">2px Solid Border</div>
    <div class="border-dotted m-1">1px Dotted Border</div>
    <div class="border-dashed m-1">1px Dashed Border</div>
    <div class="border-double m-1">2px Double Border</div>
    <h3>code</h3>
    <pre class="shadow-xl codeeditor">

    &lt;div class="border-none">
        No Border
    &lt;/div>
    &lt;div class="border-1">
        1px Solid Border
    &lt;/div>
    &lt;div class="border-2">
        2px Solid Border
    &lt;/div>
    &lt;div class="border-dotted">
        1px Dotted Border
    &lt;/div>
    &lt;div class="border-dashed">
        1px Dashed Border
    &lt;/div>
    &lt;div class="border-double">
        2px Double Border
    &lt;/div>
    </pre>


    <h2 class="mb-2">Shadow</h2>
    <div class="shadow-none m-2">No Shadow</div>
    <div class="shadow-xs m-2">Extra Small Shadow</div>
    <div class="shadow-sm m-2">Small Shadow</div>
    <div class="shadow-md m-2">Medium Shadow</div>
    <div class="shadow-lg m-2">Large Shadow</div>
    <div class="shadow-xl m-2">Extra Large Shadow</div>
    <h3>code</h3>
    <pre class="shadow-xl codeeditor">
    &lt;div class="shadow-none">
        No Shadow
    &lt;/div>
    &lt;div class="shadow-xs">
        Extra Small Shadow
    &lt;/div>
    &lt;div class="shadow-sm">
        Small Shadow
    &lt;/div>
    &lt;div class="shadow-md">
        Medium Shadow
    &lt;/div>
    &lt;div class="shadow-lg">
        Large Shadow
    &lt;/div>
    &lt;div class="shadow-xl">
        Extra Large Shadow
    &lt;/div>
    </pre>


    <h2 class="mb-2">Cursor</h2>
    <div class="cursor-auto m-1">Auto Cursor</div>
    <div class="cursor-pointer m-1">Pointer Cursor</div>
    <div class="cursor-not-allowed m-1">Not Allowed Cursor</div>
    <div class="cursor-zoom-in m-1">Zoom In Cursor</div>
    <div class="cursor-zoom-out m-1">Zoom Out Cursor</div>
    <div class="cursor-grab m-1">Grab Cursor</div>
    <div class="cursor-grabbing m-1">Grabbing Cursor</div>
    <h3>code</h3>
    <pre class="shadow-xl codeeditor">

    &lt;div class="cursor-auto">
        Auto Cursor
    &lt;/div>
    &lt;div class="cursor-pointer">
        Pointer Cursor
    &lt;/div>
    &lt;div class="cursor-not-allowed">
        Not Allowed Cursor
    &lt;/div>
    &lt;div class="cursor-zoom-in">
        Zoom In Cursor
    &lt;/div>
    &lt;div class="cursor-zoom-out">
        Zoom Out Cursor
    &lt;/div>
    &lt;div class="cursor-grab">
        Grab Cursor
    &lt;/div>
    &lt;div class="cursor-grabbing">
        Grabbing Cursor
    &lt;/div>
    </pre>



    <h2 class="mb-2">user-select</h2>
    <div class="user-select-none m-1">Disable Text Selection</div>
    <div class="user-select-text m-1">Enable Text Selection</div>
    <div class="user-select-all m-1">Select All Text</div>
    <div class="user-select-auto m-1">Use Default Text Selection</div>
    <h3>code</h3>
    <pre class="shadow-xl codeeditor">

    &lt;div class="user-select-none">
        Disable Text Selection
    &lt;/div>
    &lt;div class="user-select-text">
        Enable Text Selection
    &lt;/div>
    &lt;div class="user-select-all">
        Select All Text
    &lt;/div>
    &lt;div class="user-select-auto">
        Use Default Text Selection
    &lt;/div>
    </pre>



    <h2 class="mb-2">Transform</h2>
    <div class="transform-none">No Transform</div>
    <div class="transform-rotate-90">Rotate 90 Degrees</div>
    <div class="transform-rotate-180">Rotate 180 Degrees</div>
    <div class="transform-translate-x">Translate X 10px</div>
    <div class="transform-translate-y">Translate Y 10px</div>
    <div class="transform-translate-xy">Translate 10px, 20px</div>
    <div class="transform-skew-x">Skew X 10 Degrees</div>
    <div class="transform-skew-y">Skew Y 10 Degrees</div>
    <h3>code</h3>
    <pre class="shadow-xl codeeditor">

    &lt;div class="transform-none">
        No Transform
    &lt;/div>
    &lt;div class="transform-rotate-90">
        Rotate 90 Degrees
    &lt;/div>
    &lt;div class="transform-rotate-180">
        Rotate 180 Degrees
    &lt;/div>
    &lt;div class="transform-translate-x">
        Translate X 10px
    &lt;/div>
    &lt;div class="transform-translate-y">
        Translate Y 10px
    &lt;/div>
    &lt;div class="transform-translate-xy">
        Translate 10px, 20px
    &lt;/div>
    &lt;div class="transform-skew-x">
        Skew X 10 Degrees
    &lt;/div>
    &lt;div class="transform-skew-y">
        Skew Y 10 Degrees
    &lt;/div>
    &lt;div class="transform-scale-2x">
        Scale 2x
    &lt;/div>
    </pre>



    <h2 class="mb-2">text-shadow</h2>
    <div class="text-shadow-none m-1">No Text Shadow</div>
    <div class="text-shadow-default m-1">Default Text Shadow</div>
    <div class="text-shadow-subtle m-1">Subtle Text Shadow</div>
    <div class="text-shadow-blurry m-1">Blurry Text Shadow</div>
    <h3>code</h3>
    <pre class="shadow-xl codeeditor">

    &lt;div class="text-shadow-none">
        No Text Shadow
    &lt;/div>
    &lt;div class="text-shadow-default">
        Default Text Shadow
    &lt;/div>
    &lt;div class="text-shadow-subtle">
        Subtle Text Shadow
    &lt;/div>
    &lt;div class="text-shadow-blurry">
        Blurry Text Shadow
    &lt;/div>
    </pre>



    <h2 class="mb-2">Flter</h2>
    <div class="filter-none m-1">No Filter</div>
    <div class="filter-blur m-1">Blur Filter</div>
    <div class="filter-brightness m-1">Brightness Filter</div>
    <div class="filter-contrast m-1">Contrast Filter</div>
    <div class="filter-grayscale m-1">Grayscale Filter</div>
    <div class="filter-invert m-1">Invert Filter</div>
    <div class="filter-saturate m-1">Saturate Filter</div>
    <div class="filter-sepia m-1">Sepia Filter</div>
    <h3>code</h3>
    <pre class="shadow-xl codeeditor">

    &lt;div class="filter-none">
        No Filter
    &lt;/div>
    &lt;div class="filter-blur">
        Blur Filter
    &lt;/div>
    &lt;div class="filter-brightness">
        Brightness Filter
    &lt;/div>
    &lt;div class="filter-contrast">
        Contrast Filter
    &lt;/div>
    &lt;div class="filter-grayscale">
        Grayscale Filter
    &lt;/div>
    &lt;div class="filter-invert">
        Invert Filter
    &lt;/div>
    &lt;div class="filter-saturate">
        Saturate Filter
    &lt;/div>
    &lt;div class="filter-sepia">
        Sepia Filter
    &lt;/div>
    </pre>



    <h2 class="mb-2">Backdrop Flter</h2>
    <div class="backdrop-filter-none m-1">No Backdrop Filter</div>
    <div class="backdrop-filter-blur m-1">Blur Backdrop Filter</div>
    <div class="backdrop-filter-brightness m-1">Brightness Backdrop Filter</div>
    <div class="backdrop-filter-contrast m-1">Contrast Backdrop Filter</div>
    <div class="backdrop-filter-grayscale m-1">Grayscale Backdrop Filter</div>
    <div class="backdrop-filter-invert m-1">Invert Backdrop Filter</div>
    <div class="backdrop-filter-saturate m-1">Saturate Backdrop Filter</div>
    <div class="backdrop-filter-sepia m-1">Sepia Backdrop Filter</div>
    <h3>code</h3>
    <pre class="shadow-xl codeeditor">

    &lt;div class="backdrop-filter-none">
        No Backdrop Filter
    &lt;/div>
    &lt;div class="backdrop-filter-blur">
        Blur Backdrop Filter
    &lt;/div>
    &lt;div class="backdrop-filter-brightness">
        Brightness Backdrop Filter
    &lt;/div>
    &lt;div class="backdrop-filter-contrast">
        Contrast Backdrop Filter
    &lt;/div>
    &lt;div class="backdrop-filter-grayscale">
        Grayscale Backdrop Filter
    &lt;/div>
    &lt;div class="backdrop-filter-invert">
        Invert Backdrop Filter
    &lt;/div>
    &lt;div class="backdrop-filter-saturate">
        Saturate Backdrop Filter
    &lt;/div>
    &lt;div class="backdrop-filter-sepia">
        Sepia Backdrop Filter
    &lt;/div>
    </pre>



    <h2 class="mb-2">outline</h2>
    <div class="outline-none m-1">No Outline</div>
    <div class="outline-solid m-1">Solid Outline</div>
    <div class="outline-dotted m-1">Dotted Outline</div>
    <div class="outline-dashed m-1">Dashed Outline</div>
    <div class="outline-double m-1">Double Outline</div>
    <div class="outline-groove m-1">Groove Outline</div>
    <div class="outline-ridge m-1">Ridge Outline</div>
    <div class="outline-inset m-1">Inset Outline</div>
    <div class="outline-outset m-1">Outset Outline</div>
    <h3>code</h3>
    <pre class="shadow-xl codeeditor">

    &lt;div class="outline-none">
                No Outline
    &lt;/div>
    &lt;div class="outline-solid">
            Solid Outline
    &lt;/div>
    &lt;div class="outline-dotted">
            Dotted Outline
    &lt;/div>
    &lt;div class="outline-dashed">
            Dashed Outline
    &lt;/div>
    &lt;div class="outline-double">
            Double Outline
    &lt;/div>
    &lt;div class="outline-groove">
            Groove Outline
    &lt;/div>
    &lt;div class="outline-ridge">
            Ridge Outline
    &lt;/div>
    &lt;div class="outline-inset">
            Inset Outline
    &lt;/div>
    &lt;div class="outline-outset">
            Outset Outline
    &lt;/div>
    </pre>
    <hr class="mt-5">
    <hr class="mt-5">

</div>
