<h1 class="m-3">Cards</h1>
<div class="card m-1">
    <h1 class="card-title">This is a title</h1>
    <p class="card-body">Lorem ipsum dolor sit,
        amet consectetur adipisicing elit.
        In sunt, quo totam aliquam
        praesentium ducimus tempore
        sapiente quia Lorem ipsum,
        dolor sit amet consectetur
        <a href="">adipisicing elit
        </a>. Libero laboriosam laborum exercitationem autem commodi voluptas odio
        aliquid ut velit doloremque minima, quaerat dolores, corporis consequuntur totam nam id veniam maxime.
    </p>
</div>

<h3>code</h3>
<pre class="shadow-xl codeeditor">

&lt;div class="card m-1">
    &lt;h1 class="card-title">
        This is a title
    &lt;/h1>
    &lt;p class="card-body">
        Lorem ipsum dolor sit,
        amet consectetur adipisicing elit.
        In sunt, quo totam aliquam
        praesentium ducimus tempore sapiente quia
        Lorem ipsum, dolor sit amet consectetur 
        &lt;a
            href="">adipisicing elit
        &lt;/a>. 
        Libero laboriosam laborum exercitationem 
        autem commodi voluptas odio
        aliquid ut velit doloremque minima, 
        quaerat dolores, corporis consequuntur
        totam nam id veniam maxime.
    &lt;/p>
&lt;/div>
</pre>
<div class="card card-primary m-1">
    <div class="card-title">Primary Card</div>
    <div class="card-body">
        This is a primary card body content.
        <a href="#">Learn more</a>
    </div>
</div>

<div class="card card-secondary m-1">
    <div class="card-title">Secondary Card</div>
    <div class="card-body">
        This is a secondary card body content.
        <a href="#">Learn more</a>
    </div>
</div>

<h3>code</h3>
<pre class="shadow-xl codeeditor">
&lt;div class="card card-primary m-1">
    &lt;div class="card-title">
        Primary Card
    &lt;/div>
    &lt;div class="card-body">
    This is a primary card body content.
    &lt;a href="#">Learn more&lt;/a>
    &lt;/div>
&lt;/div>

&lt;div class="card card-secondary m-1">
    &lt;div class="card-title">
        Secondary Card
    &lt;/div>
    &lt;div class="card-body">
    This is a secondary card body content.
    &lt;a href="#">Learn more&lt;/a>
    &lt;/div>
&lt;/div>
</pre>

<!-- Rounded Card -->
<div class="card card-rounded m-2">
    <div class="card-title">Rounded Card</div>
    <div class="card-body">
        This is a rounded card body content.
        <a href="#">Learn more</a>
    </div>
</div>
<h3>code</h3>
<pre class="shadow-xl codeeditor">

&lt;div class="card card-rounded m-2">
    &lt;div class="card-title">
        Rounded Card
    &lt;/div>
    &lt;div class="card-body">
        This is a rounded card 
        body content.
    &lt;a href="#">Learn more&lt;/a>
    &lt;/div>
&lt;/div>
   
</pre>



<h1 class="m-3">Cards</h1>


<!-- Card with Image -->
<div class="row">
    <div class="card card-rounded m-1 col-12-xs col-5-sm col-3-xl">
        <div class="card-title">Card with Image</div>
        <div class="card-body">
            <p>This is a secondary card body.</p>
            <img src="https://source.unsplash.com/random/150x150?sig=14" alt="Image" class="card-img img-thumbnail p-2">
        </div>
    </div>
</div>
<pre class="shadow-xl codeeditor">
&lt;div class="row">
    &lt;div 
    class="card card-rounded m-1 col-12-xs col-5-sm col-3-xl">
        &lt;div class="card-title">
            Card with Image
        &lt;/div>
        &lt;div class="card-body">
            &lt;p>This is a secondary card body.&lt;/p>
        &lt;img 
            src="https://source.unsplash.com/random/150x150?sig=14"
             alt="Image" class="card-img img-thumbnail p-2">
        &lt;/div>
    &lt;/div>
&lt;/div>    
</pre>