<h2 class="mb-2">Colors</h2>
<span class="text-primary m-1">primary text</span> |
<span class="text-secondary m-1">secondary text</span> |
<span class="text-error m-1">error text</span> |
<span class="text-info m-1">info text</span> |
<span class="text-blue m-1">blue text</span> |
<span class="text-red m-1">red text</span> |
<span class="text-green m-1">green text</span> |
<span class="text-yellow m-1">yellow text</span> |
<span class="text-purple m-1">purple text</span> |
<span class="text-orange m-1">orange text</span> |
<span class="text-gray m-1">gray text</span> |
<span class="text-black m-1">black text</span> |
<span class="text-cyan m-1">cyan text</span> |
<span class="text-pink m-1">pink text</span> |
<span class="text-teal m-1">teal text</span> |
<span class="text-lime m-1">lime text</span> |
<span class="text-maroon m-1">maroon text</span>|
<span class="text-navy m-1">navy text</span> |
<span class="text-olive m-1">olive text</span> |
<span class="text-sky-blue m-1">sky-blue text</span> |
<span class="text-dark-green m-1">dark-green</span>


<h3>code</h3>
        <pre class="shadow-xl codeeditor">

&lt;span class="text-primary">
    primary text 
&lt;/span&gt;
&lt;span class="text-secondary">
    secondary text
&lt;/span&gt;
&lt;span class="text-error">
    error text
&lt;/span&gt;
&lt;span class="text-info">
    info text
&lt;/span&gt;
&lt;span class="text-blue">
    blue text
&lt;/span&gt;
&lt;span class="text-red">
    red text
&lt;/span&gt;
&lt;span class="text-green">
    green text
&lt;/span&gt;
&lt;span class="text-yellow">
    yellow text
&lt;/span&gt;
&lt;span class="text-purple">
    purple text
&lt;/span&gt;
&lt;span class="text-orange">
    orange text
&lt;/span&gt;
&lt;span class="text-gray">
    gray text
&lt;/span&gt;
&lt;span class="text-black">
    black text
&lt;/span&gt;
&lt;span class="text-cyan">
    cyan text
&lt;/span&gt;
&lt;span class="text-pink">
    pink text
&lt;/span&gt;
&lt;span class="text-teal">
    teal text
&lt;/span&gt;
&lt;span class="text-lime">
    lime text
&lt;/span&gt;
&lt;span class="text-maroon">
    maroon text
&lt;/span&gt;
        </pre>
        <h2 class="mb-2"> Bg Colors</h2>
        <span class="bg-primary text-white m-1">bg primary</span> |
        <span class="bg-secondary text-white m-1">bg secondary</span> |
        <span class="bg-error text-white m-1">bg error</span> |
        <span class="bg-info text-white m-1">bg info</span> |
        <span class="bg-blue text-white m-1">bg blue</span> |
        <span class="bg-red text-white m-1">bg red</span> |
        <span class="bg-green text-white m-1">bg green</span> |
        <span class="bg-yellow text-white m-1">bg yellow</span> |
        <span class="bg-purple text-white m-1">bg purple</span> |
        <span class="bg-orange text-white m-1">bg orange</span> |

        <br><br>
        <h3>code</h3>
        <pre class="shadow-xl codeeditor">

&lt;span class="bg-primary text-white">
    bg primary
&lt;/span&gt;
&lt;span class="bg-secondary text-white">
        bg secondary
&lt;/span&gt;
&lt;span class="bg-error text-white">
    bg error&lt;/span&gt;
&lt;span class="bg-info text-white">
    bg info&lt;/span&gt;
&lt;span class="bg-blue text-white">
    bg blue&lt;/span&gt;
&lt;span class="bg-red text-white">
    bg red&lt;/span&gt;
&lt;span class="bg-green text-white">
    bg green&lt;/span&gt;
&lt;span class="bg-yellow text-white">
    bg yellow&lt;/span&gt;
&lt;span class="bg-purple text-white">
    bg purple&lt;/span&gt;
&lt;span class="bg-orange text-white">
    bg orange&lt;/span&gt;
&lt;span class="bg-gray text-white">
    bg gray&lt;/span&gt;
        </pre>

        <h2 class="mb-2">Color Contrast</h2>

        <span class="bg-primary-dark-8 text-white">primary dark 8</span> |
        <span class="bg-primary-dark-6 text-white">primary dark 6</span> |
        <span class="bg-primary-dark-4 text-white">primary dark 4</span> |
        <span class="bg-primary-dark-2 text-white">primary dark 2</span> |
        <span class="bg-primary text-white">primary</span> |
        <span class="bg-primary-light-2 text-white">primary light 2</span> |
        <span class="bg-primary-light-4 text-white">primary light 4</span> |
        <span class="bg-primary-light-6 text-white">primary light 6</span> |
        <span class="bg-primary-light-8 text-white">primary light 8</span> |
        <br><br>

        <h3>code</h3>
        <pre class="shadow-xl codeeditor">

&lt;span 
    class="bg-primary-dark-8 text-white">
        primary dark 8
&lt;/span&gt;
&lt;span
     class="bg-primary-dark-6 text-white">
         primary dark 6
&lt;/span&gt;
&lt;span 
    class="bg-primary-dark-4 text-white">
        primary dark 4
&lt;/span&gt;
&lt;span 
    class="bg-primary-dark-2 text-white">
        primary dark 2
&lt;/span&gt;
&lt;span 
    class="bg-primary text-white">
        primary
&lt;/span&gt;
&lt;span 
    class="bg-primary-light-2 text-white">
        primary light 2
&lt;/span&gt;
&lt;span 
    class="bg-primary-light-4 text-white">
        primary light 4
&lt;/span&gt;
&lt;span 
    class="bg-primary-light-6 text-white">
        primary light 6
&lt;/span&gt;
&lt;span 
    class="bg-primary-light-8 text-white">
        primary light 8
&lt;/span&gt;
        </pre>
        <h2 class="mb-2">Hover</h2>
        <a href="#" class="text-primary text-hover-orange-light-1 m-1">hover me</a>
        <a href="#" class="text-primary text-hover-orange-light-1 m-1">hover me</a>
        <a href="#" class="text-secondary text-hover-blue-light-1 m-1">hover me</a>
        <a href="#" class="text-error text-hover-red-light-1 m-1">hover me</a>
        <a href="#" class="text-info text-hover-cyan-light-1 m-1">hover me</a>
        <a href="#" class="text-blue text-hover-purple-light-1 m-1">hover me</a>
        <a href="#" class="text-red text-hover-yellow-light-1 m-1">hover me</a>
        <a href="#" class="text-green text-hover-lime-light-1 m-1">hover me</a>
        <a href="#" class="text-yellow text-hover-teal-light-1 m-1">hover me</a>
        <a href="#" class="text-purple text-hover-pink-light-1 m-1">hover me</a>
        <a href="#" class="text-orange text-hover-gray-light-1 m-1">hover me</a>
        <a href="#" class="text-gray text-hover-maroon-light-1 m-1">hover me</a>
        <a href="#" class="text-black text-hover-white-light-1 m-1">hover me</a><br>
        <h3>code</h3>
        <pre class="shadow-xl codeeditor">

&lt;a href="#" class="text-primary text-hover-orange-light-1">
    hover me
&lt;/a>
&lt;a href="#" class="text-primary text-hover-orange-light-1">
    hover me
&lt;/a>
&lt;a href="#" class="text-secondary text-hover-blue-light-1">
    hover me
&lt;/a>
&lt;a href="#" class="text-error text-hover-red-light-1">
    hover me
&lt;/a>
&lt;a href="#" class="text-info text-hover-cyan-light-1">
    hover me
&lt;/a>
&lt;a href="#" class="text-blue text-hover-purple-light-1">
    hover me
&lt;/a>
&lt;a href="#" class="text-red text-hover-yellow-light-1">
    hover me
&lt;/a>
&lt;a href="#" class="text-green text-hover-lime-light-1">
    hover me
&lt;/a>
&lt;a href="#" class="text-yellow text-hover-teal-light-1">
    hover me
&lt;/a>
&lt;a href="#" class="text-purple text-hover-pink-light-1">
    hover me
&lt;/a>
&lt;a href="#" class="text-orange text-hover-gray-light-1">
    hover me
&lt;/a>
&lt;a href="#" class="text-gray text-hover-maroon-light-1">
    hover me
&lt;/a>
&lt;a href="#" class="text-black text-hover-white-light-1">
    hover me
&lt;/a>
</pre>