
  <main class="content"  >
    <section class="hero">
      <h2>Empowering Developers with Simplicity</h2>
      <p>Flatspark is a lightweight CSS library designed to streamline your web development process. It offers a comprehensive collection of well-maintained and customizable components, fostering efficient and consistent UI creation.</p>
    </section>
    <section class="about-us">
      <!-- <h3>Our Story</h3>
      <p>
        []
      </p>
      <h3>Our Mission</h3>
      <p>
        []
      </p>
      <h3>The Team</h3>
      <p>
        []
      </p> -->

    </section>
  </main>
  <footer class="footer">
    <p>&copy; Flatspark. All rights reserved.</p>
  </footer>
