<!-- font sizes -->
<h1 class="mb-2">Font Sizes</h1>
<div class="font-sm m-1">this is small font</div>
<div class="font-md m-1">this is medium font</div>
<div class="font-lg m-1">this is large font</div>
<div class="font-xl m-1">this is extra large font</div>
<div class="font-xxl m-1">this is extra, extra large font</div>
<h3>code</h3>
<pre class="shadow-xl codeeditor">

&lt;div class="font-sm">
    this is small font
&lt;/div>
&lt;div class="font-md">
    this is medium font
&lt;/div>
&lt;div class="font-lg">
    this is large font
&lt;/div>
&lt;div class="font-xl">
    this is extra large font
&lt;/div>
&lt;div class="font-xxl">
    this is extra, extra large font
&lt;/div>
</pre>
<h1 class="m-3">Headings</h1>
<h1>h1 heading</h1>
<h2>h2 heading</h2>
<h3>h3 heading</h3>
<h4>h4 heading</h4>
<h5>h5 heading</h5>
<h6>h6 heading</h6>

<h3>code</h3>
<pre class="shadow-xl codeeditor">

    &lt;h1>h1 heading&lt;/h1>
    &lt;h2>h2 heading&lt;/h2>
    &lt;h3>h3 heading&lt;/h3>
    &lt;h4>h4 heading&lt;/h4>
    &lt;h5>h5 heading&lt;/h5>
    &lt;h6>h6 heading&lt;/h6>
</pre>

<h1 class="m-3">Images</h1>
<h3>Image Fluid</h3>

<img src="https://source.unsplash.com/random/150x150?sig=14" alt="Fluid Image" class="img-fluid m-1">
<h3>code</h3>
<pre class="shadow-xl codeeditor">
&lt;img
    src="....put ur image" 
    alt="Fluid Image" class="img-fluid"
>
</pre>
<!-- Rounded image -->
<h3>Image Rounded</h3>

<img src="https://source.unsplash.com/random/150x150?sig=14" alt="Rounded Image" class="img-rounded m-2">

<!-- Circular image -->
<img src="https://source.unsplash.com/random/150x150?sig=14" alt="Circular Image" class="img-circle m-2">
<h3>code</h3>
<pre class="shadow-xl codeeditor">
&lt;img 
    src="....put ur image" 
    alt="Rounded Image" class="img-rounded"
>
        
&lt;img 
    src="....put ur image" 
    alt="Circular Image" class="img-circle"
>
</pre>
<!-- Thumbnail image -->
<h3>Image Responsive</h3>

<img src="https://source.unsplash.com/random/150x150?sig=14" alt="Thumbnail Image" class="img-thumbnail m-1">

<!-- Responsive image -->
<img src="https://source.unsplash.com/random/150x150?sig=14" alt="Responsive Image" class="img-responsive m-1">
<pre class="shadow-xl codeeditor">
&lt;img
    src="....put ur image"
    alt="Thumbnail Image" class="img-thumbnail"
>
        
&lt;img 
    src="....put ur image" 
    alt="Responsive Image" class="img-responsive"
>
</pre>
<!-- Cover image -->
<h3>Image Cover</h3>
<img src="https://source.unsplash.com/random/150x150?sig=14" alt="Cover Image" class="img-cover" >

<h3>code</h3>
<pre class="shadow-xl codeeditor">
    
&lt;img 
    src="....put ur image" 
    alt="Cover Image" class="img-cover"
>
</pre>

<h1 class="m-3">Table</h1>

<table class="table">
    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
            <th>Column 3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Data 1-1</td>
            <td>Data 1-2</td>
            <td>Data 1-3</td>
        </tr>
        <tr>
            <td>Data 2-1</td>
            <td>Data 2-2</td>
            <td>Data 2-3</td>
        </tr>
        <tr>
            <td>Data 3-1</td>
            <td>Data 3-2</td>
            <td>Data 3-3</td>
        </tr>
    </tbody>
</table>
<h3>code</h3>
<pre class="shadow-xl codeeditor">

&lt;table class="table">
    &lt;thead>
        &lt;tr>
            &lt;th>Column 1&lt;/th>
            &lt;th>Column 2&lt;/th>
            &lt;th>Column 3&lt;/th>
        &lt;/tr>
    &lt;/thead>
    &lt;tbody>
        &lt;tr>
            &lt;td>Data 1-1&lt;/td>
            &lt;td>Data 1-2&lt;/td>
            &lt;td>Data 1-3&lt;/td>
        &lt;/tr>
        &lt;tr>
            &lt;td>Data 2-1&lt;/td>
            &lt;td>Data 2-2&lt;/td>
            &lt;td>Data 2-3&lt;/td>
        &lt;/tr>
        &lt;tr>
            &lt;td>Data 3-1&lt;/td>
            &lt;td>Data 3-2&lt;/td>
            &lt;td>Data 3-3&lt;/td>
        &lt;/tr>
    &lt;/tbody>
&lt;/table>
</pre>
<h3 class="m-1">Table striped</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
            <th>Column 3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Data 1-1</td>
            <td>Data 1-2</td>
            <td>Data 1-3</td>
        </tr>
        <tr>
            <td>Data 2-1</td>
            <td>Data 2-2</td>
            <td>Data 2-3</td>
        </tr>
        <tr>
            <td>Data 3-1</td>
            <td>Data 3-2</td>
            <td>Data 3-3</td>
        </tr>
    </tbody>
</table>
<h3>code</h3>
<pre class="shadow-xl codeeditor">

&lt;table class="table table-striped">
    &lt;thead>
        &lt;tr>
            &lt;th>Column 1&lt;/th>
            &lt;th>Column 2&lt;/th>
            &lt;th>Column 3&lt;/th>
        &lt;/tr>
    &lt;/thead>
    &lt;tbody>
        &lt;tr>
            &lt;td>Data 1-1&lt;/td>
            &lt;td>Data 1-2&lt;/td>
            &lt;td>Data 1-3&lt;/td>
        &lt;/tr>
        &lt;tr>
            &lt;td>Data 2-1&lt;/td>
            &lt;td>Data 2-2&lt;/td>
            &lt;td>Data 2-3&lt;/td>
        &lt;/tr>
        &lt;tr>
            &lt;td>Data 3-1&lt;/td>
            &lt;td>Data 3-2&lt;/td>
            &lt;td>Data 3-3&lt;/td>
        &lt;/tr>
    &lt;/tbody>
&lt;/table>
</pre>
<h3 class="m-1">Table striped Hover</h3>

<table class="table  table-striped table-hover">
    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
            <th>Column 3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Data 1-1</td>
            <td>Data 1-2</td>
            <td>Data 1-3</td>
        </tr>
        <tr>
            <td>Data 2-1</td>
            <td>Data 2-2</td>
            <td>Data 2-3</td>
        </tr>
        <tr>
            <td>Data 3-1</td>
            <td>Data 3-2</td>
            <td>Data 3-3</td>
        </tr>
    </tbody>
</table>

<h3>code</h3>
<pre class="shadow-xl codeeditor">

&lt;table class="table table-striped table-hover">
    &lt;thead>
        &lt;tr>
            &lt;th>Column 1&lt;/th>
            &lt;th>Column 2&lt;/th>
            &lt;th>Column 3&lt;/th>
        &lt;/tr>
    &lt;/thead>
    &lt;tbody>
        &lt;tr>
            &lt;td>Data 1-1&lt;/td>
            &lt;td>Data 1-2&lt;/td>
            &lt;td>Data 1-3&lt;/td>
        &lt;/tr>
        &lt;tr>
            &lt;td>Data 2-1&lt;/td>
            &lt;td>Data 2-2&lt;/td>
            &lt;td>Data 2-3&lt;/td>
        &lt;/tr>
        &lt;tr>
            &lt;td>Data 3-1&lt;/td>
            &lt;td>Data 3-2&lt;/td>
            &lt;td>Data 3-3&lt;/td>
        &lt;/tr>
    &lt;/tbody>
&lt;/table>
</pre>