<h2 class="mb-2">Alert</h2>
<div class="alert alert-primary" role="alert">
    <h4 class="alert-heading">Primary Alert</h4>
    <p class="alert-body">This is a primary alert message.</p>
</div>
<div class="alert alert-dark-green" role="alert">
    <h4 class="alert-heading">Success Alert</h4>
    <p class="alert-body">This is a success alert message.</p>
</div>
<div class="alert alert-coral" role="alert">
    <p class="alert-body">This is a danger alert message.</p>
</div>

<h3>code</h3>
<pre class="shadow-xl codeeditor">

&lt;div class="alert alert-primary" role="alert">
    &lt;h4 class="alert-heading">
        Primary Alert
    &lt;/h4>
    &lt;p class="alert-body">
        This is a primary alert message.
    &lt;/p>
&lt;/div>
&lt;div class="alert alert-dark-green" role="alert">
    &lt;h4 class="alert-heading">
        Success Alert
    &lt;/h4>
    &lt;p class="alert-body">This is a success alert message.
    &lt;/p>
&lt;/div>
&lt;div class="alert alert-coral" role="alert">
    &lt;p class="alert-body">
        This is a danger alert message.
    &lt;/p>
&lt;/div>
</pre>
<h2 class="m-2">Alert with icon</h2>
<div class="alert alert-primary m-2" role="alert">
    <i class="fa fa-car"></i>
    <span class="alert-body">This is a primary alert!</span>
</div>

<h3>code</h3>
<pre class="shadow-xl codeeditor">

&lt;div class="alert alert-primary m-2" role="alert">
    &lt;i class="fa fa-car">&lt;/i>
    &lt;span class="alert-body">This is a primary alert!&lt;/span>
&lt;/div> 
</pre>
