<h2 class="mb-2">spinner</h2>
<div class="spinner  m-3"></div>
<h3>code</h3>
<pre class="codeeditor shadow-xl">
&lt;div class="spinner  m-3">&lt;/div>
    <!-- <button (click)="copyMessage('This goes to Clipboard')" value="click to copy" >Copy this</button> -->

</pre>
<!-- Spinner with custom border color -->
<h2 class="mb-2"> Coloured spinner</h2>

<div class="spinner spinner-secondary m-3"></div>
<div class="spinner spinner-error m-3"></div>
<div class="spinner spinner-info m-3"></div>
<h3>code</h3>
<pre class="shadow-xl codeeditor">
&lt;div 
    class="spinner spinner-secondary m-3">
&lt;/div>
&lt;div 
    class="spinner spinner-error m-3">
&lt;/div>
&lt;div 
    class="spinner spinner-info m-3">
&lt;/div>
</pre>
<h2 class="mb-2"> Different size spinner</h2>

<div class="spinner spinner-2 m-3"></div>
<div class="spinner spinner-3 m-3"></div>
<div class="spinner spinner-4 m-3"></div>
<div class="spinner spinner-5 m-3"></div>
<div class="spinner spinner-6 m-3"></div>
<div class="spinner spinner-7 m-3"></div>
<div class="spinner spinner-8 m-3"></div>
<div class="spinner spinner-9 m-3"></div>
<h3>code</h3>
<pre class="codeeditor shadow-xl">
&lt;div class="spinner spinner-2 m-3">&lt;/div>
&lt;div class="spinner spinner-3 m-3">&lt;/div>
&lt;div class="spinner spinner-4 m-3">&lt;/div>
&lt;div class="spinner spinner-5 m-3">&lt;/div>
&lt;div class="spinner spinner-6 m-3">&lt;/div>
&lt;div class="spinner spinner-7 m-3">&lt;/div>
&lt;div class="spinner spinner-8 m-3">&lt;/div>
&lt;div class="spinner spinner-9 m-3">&lt;/div>
</pre>
<h2 class="mb-2"> speed of spinner</h2>
<div class="spinner spinner-slow m-3"></div>
<div class="spinner spinner-fast m-3"></div>
<h3>code</h3>
<pre class="codeeditor shadow-xl">
&lt;div class="spinner spinner-slow m-3">&lt;/div>
&lt;div class="spinner spinner-fast m-3">&lt;/div>
</pre>
<h2 class="mb-2"> mixed spinner</h2>

<div class="spinner-7-error spinner-fast m-3"></div>
<div class="spinner-8-secondary spinner-fast m-3"></div>
<div class="spinner-4-teal spinner-slow m-3"></div>

<h3>code</h3>
<pre class="codeeditor shadow-xl">
&lt;div 
    class="spinner-7-error spinner-fast m-3">
&lt;/div>
&lt;div 
    class="spinner-8-secondary spinner-fast m-3">
&lt;/div>
&lt;div 
    class="spinner-4-teal spinner-slow m-3">
&lt;/div>


</pre>