
    <h1 class="mb-2">Form Control</h1>
    <h2>input</h2>
     <!-- File input -->
     <input type="number" class="input-control number m-1" placeholder="Enter a number">

     <!-- Text input -->
     <input type="text" class="input-control text m-1" placeholder="Enter text">
 
     <!-- Email input -->
     <input type="email" class="input-control email m-1" placeholder="Enter email">
 
     <!-- Password input -->
     <input type="password" class="input-control password m-1" placeholder="Enter password">
 
     <!-- Date input -->

      <h3>code</h3>
    <pre class="shadow-xl codeeditor">

    &lt;input type="number" 
        class="input-control number m-2" 
        placeholder="Enter a number"
    >
    &lt;input type="text"
        class="input-control text m-2" 
        placeholder="Enter text"
    >
    &lt;input type="email"
        class="input-control email m-2" 
        placeholder="Enter email"
    >
    &lt;input type="password"
        class="input-control password m-2" 
        placeholder="Enter password"
    >

  
    </pre>
    <h2 class="m-1">File and date</h2>
<input type="file" class="input-control file m-1">  
<input type="date" class="input-control date m-1">

<h3>code</h3>
<pre class="shadow-xl codeeditor">

    &lt;input type="file"
        class="input-control file"> 
    &lt;input type="date" 
        class="input-control date"
    >
</pre>
<h2 class="m-1">Select</h2>
    <div class="select-control m-2">
        <select>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
        </select>
    </div>
    <h3>code</h3>
    <pre class="shadow-xl codeeditor">

&lt;div class="select-control m-2">
    &lt;select>
        &lt;option value="option1">
            Option 1
        &lt;/option>
        &lt;option value="option2">
            Option 2
        &lt;/option>
        &lt;option value="option3">
            Option 3
        &lt;/option>
    &lt;/select>
&lt;div>    

    </pre>

    <hr class="mt-1 mb-1">

    <h2 class="m-1">Text Area</h2>

    <textarea class="textarea m-2" placeholder="textArea"></textarea>

    <h3>code</h3>
    <pre class="shadow-xl codeeditor">
    &lt;textarea
        class="textarea" placeholder="textArea">
    &lt;/textarea>

    </pre>

    <h2 class="m-1">Color Picker</h2>


    <input type="color" class="color-picker-input m-2" id="colorPicker">
    <h3>code</h3>
    <pre class="shadow-xl codeeditor">

    &lt;input type="color" 
        class="color-picker-input" >
    </pre>
    <hr class="mt-1 mb-1">
    <h2 class="m-1">Toggle</h2>

    <label class="toggle-control m-1">
        <input type="checkbox" class="toggle-input">
        <span class="toggle-slider"></span>
    </label>

    
    <h3>code</h3>
    <pre class="shadow-xl codeeditor">

    &lt;label class="toggle-control">
    &lt;input 
        type="checkbox" class="toggle-input">
    &lt;span class="toggle-slider">&lt;/span>
    &lt;/label>
    </pre>
    <h2 class="m-1">checkbox</h2>

    <div class="checkbox ">
        <input type="checkbox" id="checkbox2">
        <label for="checkbox2">Checkbox </label>
    </div>
    <div class="checkbox">
        <input type="checkbox" id="checkbox">
        <label for="checkbox">Checkbox </label>
    </div>
    <hr class="m-1">
    <h3>code</h3>
    <pre class="shadow-xl codeeditor">

&lt;div class="checkbox">
    &lt;input type="checkbox" id="checkbox2">
    &lt;label for="checkbox2">Checkbox &lt;/label>
&lt;/div>
&lt;div class="checkbox">
    &lt;input type="checkbox" id="checkbox">
    &lt;label for="checkbox">Checkbox &lt;/label>
&lt;/div>
    </pre>
    <h2 class="m-1">Radio</h2>
    <div class="radio m-1">
        <input type="radio" id="radio1" name="radios">
        <label for="radio1">Radio 1</label>
    </div>

    <div class="radio">
        <input type="radio" id="radio2" name="radios">
        <label for="radio2">Radio 2</label>
    </div>
    <br>
    <h3>code</h3>
    <pre class="shadow-xl codeeditor">

&lt;div class="radio">
    &lt;input
        type="radio" id="radio1" name="radios">
    &lt;label for="radio1">Radio 1&lt;/label>
&lt;/div>

&lt;div class="radio">
    &lt;input 
        type="radio" id="radio2" name="radios">
    &lt;label for="radio2">Radio 2&lt;/label>
&lt;/div>
    </pre>
    <h2 class="m-1">Range</h2>


    <input type="range" class="range-control m-2" min="0" max="100" value="50">
    <input type="range" class="input-control range m-1">

    <h3>code</h3>
    <pre class="shadow-xl codeeditor">

&lt;input type="range" class="range-control"
    min="0" max="100" value="50">
&lt;input type="range" 
    class="input-control range">

    </pre>

    <hr class="mt-2 mb-1">
    <h2 class="m-1">Floating Input</h2>
    <hr class="mt-1 mb-1">

    <div class="form-floating">
        <input type="text" class="form-control" id="exampleInput" placeholder="">
        <label for="exampleInput">Example Label</label>
    </div>
    <h3 id="code">code</h3>
    <pre class="shadow-xl codeeditor">

&lt;div class="form-floating">
    &lt;input 
        type="text" class="form-control"  >
    &lt;label for="exampleInput">
        Example Label
    &lt;/label>
&lt;/div>
</pre>

