<h1 class="mb-2">NavBars</h1>

<nav class="navbar-maroon text-white mb-2">
    <div class="container">
        <h2 class="site-title">flatspark</h2>
        <p>CSS library</p>
    </div>
</nav>

<nav class="navbar-primary text-white mb-2">
    <div class="container">
        <h2 class="site-title">flatspark</h2>
        <p>CSS library</p>
    </div>
</nav>

<nav class="navbar-purple text-white mb-2">
    <div class="container">
        <h2 class="site-title ">flatspark</h2>

    </div>
</nav>

<h3>code for nav</h3>
<pre class="shadow-xl codeeditor">

&lt;nav class="navbar-teal text-white mb-2">
    &lt;div class="container">
    &lt;h2 class="site-title">flatspark&lt;/h2>
    &lt;p>CSS library&lt;/p>
    &lt;/div>
&lt;/nav>

&lt;nav class="navbar-primary text-white mb-2">
    &lt;div class="container">
    &lt;h2 class="site-title">flatspark&lt;/h2>
    &lt;p>CSS library&lt;/p>
    &lt;/div>
&lt;/nav>

&lt;nav class="navbar-purple text-white mb-2">
    &lt;div class="container">
    &lt;h2 class="site-title">flatspark&lt;/h2>
    &lt;/div>
&lt;/nav>
</pre>





<hr class="mt-2 mb-2">
<h2 class="mb-2">list Group</h2>

<div class="list-group">
    <a href="#" class="list-group-item">Item 1</a>
    <a href="#" class="list-group-item">Item 2</a>
    <a href="#" class="list-group-item">Item 3</a>
</div>
<h3>code</h3>
<pre class="shadow-xl codeeditor">

&lt;div class="list-group">
    &lt;a href="#" class="list-group-item">
        Item 1
    &lt;/a>
    &lt;a href="#" class="list-group-item">
        Item 2
    &lt;/a>
    &lt;a href="#" class="list-group-item">
        Item 3
    &lt;/a>
&lt;/div>
   
</pre>




<!-- breadcrumb -->



<hr class="mt-2 mb-2">
<h1 class="mb-2">Breadcrumb</h1>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Category</a></li>
    <li class="breadcrumb-item active" aria-current="page">Current Page</li>
</ol>
<h3>code</h3>
<pre class="shadow-xl codeeditor">

&lt;ol class="breadcrumb">
    &lt;li class="breadcrumb-item">
        &lt;a href="#">Home&lt;/a>&lt;/li>
    &lt;li class="breadcrumb-item">
        &lt;a href="#">Category&lt;/a>&lt;/li>
    &lt;li class="breadcrumb-item active" 
        aria-current="page">
        Current Page
    &lt;/li>
&lt;/ol>
</pre>




<hr class="mt-2 mb-2">
<h2 class="mb-2">Accordion</h2>

<div class="accordion">
    <div class="accordion-item">
        <div class="accordion-title">Accordion Item 1</div>
        <div class="accordion-content active">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-title">Accordion Item 2</div>
        <div class="accordion-content">
            Sed cursus ante dapibus diam. Sed nisi.
        </div>
    </div>
    <!-- Add more accordion items as needed -->
</div>


<hr class="mt-2 mb-2">


<h2 class="mb-2">Badge</h2>


<div class="badge">
    Default Badge</div>
<div class="badge-primary mt-1">
    Primary Badge</div>
<div class="badge-error mt-1">
    Error Badge</div>
<div class="badge-info mt-1">
    Info Badge</div>
<div class="badge-red mt-1">
    Red Badge</div>
<div class="badge-yellow mt-1">
    Yellow Badge</div>
<div class="badge-purple mt-1">
    Purple Badge</div>


<hr class="mt-1 mb-1">
<h3>code</h3>
<pre class="shadow-xl codeeditor">

&lt;div class="badge">
    Default Badge
&lt;/div>
&lt;div class="badge-primary mt-1">
    Primary Badge
&lt;/div>
&lt;div class="badge-error mt-1">
    Error Badge
&lt;/div>
&lt;div class="badge-info mt-1">
    Info Badge
&lt;/div>
&lt;div class="badge-red mt-1">
    Red Badge
&lt;/div>
&lt;div class="badge-yellow mt-1">
    Yellow Badge
&lt;/div>
&lt;div class="badge-purple mt-1">
    Purple Badge
&lt;/div>
</pre>

<hr class="mt-2 mb-2">


<h2 class="mb-2">KeyBoard</h2>
<br>
<div class="container m-2">
<div class="keyboard-key m-1">Alt</div>+<div class="keyboard-key m-1">tab</div><br>
<div class="keyboard-key m-1">ctrl</div>+<div class="keyboard-key m-1">c</div><br>
<div class="keyboard-key m-1">ctrl</div>+<div class="keyboard-key m-1">v</div><br>
</div>
<h3>code</h3>
<pre class="shadow-xl codeeditor">

&lt;div class="keyboard-key">Alt&lt;/div>
+
&lt;div class="keyboard-key">tab&lt;/div>
&lt;div class="keyboard-key">ctrl&lt;/div>
+
&lt;div class="keyboard-key">c&lt;/div>
&lt;div class="keyboard-key">ctrl&lt;/div>
+
&lt;div class="keyboard-key">v&lt;/div>
</pre>
<h2 class="mb-2">Highlight</h2>
<p>Lorem, ipsum dolor sit amet consectetur <span class="highlighted">This is some highlighted
    text.</span>adipisicing elit,<span class="highlighted-info">This is some highlighted
    text.</span> obcaecati aperiam 
reiciendis. Unde nihil repellat, explicabo ab rem consequuntur.</p>
<h3>code</h3>
<pre class="shadow-xl codeeditor">

&lt;p>Lorem, ipsum dolor sit amet 
consectetur &lt;span class="highlighted">
This is some highlighted
text.&lt;/span>adipisicing elit,
&lt;span class="highlighted-info">
This is some highlighted
text.&lt;/span> obcaecati aperiam 
reiciendis. Unde nihil repellat, 
explicabo ab rem consequuntur.&lt;/p>
</pre>