
<main class="content">
    <section class="hero">
        <h2>Empowering Developers with Simplicity</h2>
        <p>Flatspark is a lightweight CSS library designed to streamline your web development process. It offers a
            comprehensive collection of well-maintained and customizable components, fostering efficient and consistent
            UI creation.</p>
        <h2 class="btn">Your go-to CSS library for sleek, modern, and responsive web design</h2>
    </section>
    <section class="usage ">
        <h3>Using Flatspark</h3>
        <div class="usage-container">
            <div class="usage-method">
                <h4>1. Import the CSS</h4>
            <pre class="codeeditor">npm install flatspark</pre>
                <pre class="codeeditor">import "flatspark/dist/index.css";</pre>
                Or
                <pre class="codeeditor">&lt;link rel="stylesheet" 
href="node_modules/flatspark/dist/index.css"
>
          </pre>

                <p>Import the Flatspark CSS file in your main JavaScript file or directly in your HTML using a link tag.
                </p>
            </div>
            <div class="usage-method">
                <h4>2. Use Flatspark Components</h4>
                <p>Flatspark provides a variety of UI components like buttons, forms, and navigation. Refer to the
                    documentation for detailed usage and customization options.</p>
            </div>
        </div>
    </section>
    <!-- <section class="features">
        <h3>Key Features</h3>
        <ul>
            <li>Clean and Minimalist Style</li>
            <li>Easy Customization</li>
            <li>Cross-Platform Compatibility</li>
        </ul>
    </section> -->
   
</main>
<footer class="footer">
    <p>&copy; Flatspark. All rights reserved.</p>
</footer>