
<h1 class="mb-2">Buttons</h1>
<a href="#" class="btn-primary">default btn</a><br>
<h3>code</h3>
<pre class="shadow-xl codeeditor">

&lt;a href="#" class="btn">
    default btn
&lt;/a><br>
</pre>

<button class="btn-secondary-rounded m-1">
    <span class="icon"><i class="fa fa-cloud"></i>

    </span> Button with Icon
</button>
<button class="btn-pink-text m-1">
    <span class="icon"><i class="fa fa-file"></i>
    </span> Button with Icon
</button>
<button class="btn-outlined-cyan m-1">
    <span class="icon"><i class="fa fa-car"></i>

    </span> Button with Icon
</button>
<h3>code</h3>
<pre class="shadow-xl codeeditor">


&lt;button class="btn-secondary-rounded m-1">
    &lt;span class="icon">
    &lt;i class="fa fa-cloud">&lt;/i>
    &lt;/span> Button with Icon
&lt;/button>
&lt;button class="btn-pink-text">
    &lt;span class="icon">
    &lt;i class="fa fa-file">&lt;/i>
    &lt;/span> Button with Icon
&lt;/button>
&lt;button class="btn-outlined-cyan">
    &lt;span class="icon">
    &lt;i class="fa fa-car">&lt;/i>
    &lt;/span> Button with Icon
&lt;/button>

</pre>

<button class="btn-icon-secondary m-2">
    <span class="icon"><i class="fa fa-car"></i></span>
</button>
<button class="btn-icon-rounded-primary m-2">
    <span class="icon"><i class="fa fa-car"></i></span>
</button>

<button class="btn-icon-square-purple m-2">
    <span class="icon"><i class="fa fa-car"></i></span>
</button>
<button class="btn-icon-square-error m-2">
    <span class="icon"><i class="fa fa-car"></i></span>
</button>
<h3>code</h3>
<pre class="shadow-xl codeeditor">

&lt;button class="btn-icon-secondary m-2">
    &lt;span class="icon">
    &lt;i class="fa fa-car">&lt;/i>
    &lt;/span>
&lt;/button>
&lt;button class="btn-icon-rounded-primary m-2">
    &lt;span class="icon">
    &lt;i class="fa fa-car">&lt;/i>
    &lt;/span>
&lt;/button>
&lt;button class="btn-icon-square-purple m-2">
    &lt;span class="icon">
    &lt;i class="fa fa-car">&lt;/i>
    &lt;/span>
&lt;/button>
&lt;button class="btn-icon-square-error m-2">
    &lt;span class="icon">
    &lt;i class="fa fa-car">&lt;/i>
    &lt;/span>
&lt;/button>

</pre>


<hr class="mt-1 mb-1">
<a href="#" class="btn-primary text-white m-1">click me</a>
<a href="#" class="btn-secondary text-white m-1">click me</a>
<a href="#" class="btn-error text-white m-1">click me</a>
<a href="#" class="btn-info m-1">click me</a>
<br>
<h3>code</h3>
<pre class="shadow-xl codeeditor">

&lt;a href="#" class="btn-primary text-white">
    click me
&lt;/a>
&lt;a href="#" class="btn-secondary text-white">
    click me
&lt;/a>
&lt;a href="#" class="btn-error text-white">
    click me
&lt;/a>
&lt;a href="#" class="btn-info">
    click me
&lt;/a>
</pre>
<hr class="mt-1 mb-1">
<a href="#" class="btn-outlined-purple text-purple text-hover-black m-1">click me</a>
<a href="#" class="btn-outlined-orange text-orange text-hover-black m-1">click me</a>
<br>
<h3>code</h3>
<pre class="shadow-xl codeeditor">
&lt;a href="#" 
    class="btn-outlined-purple text-purple text-hover-black">
        click me 
&lt;/a>
&lt;a href="#" 
    class="btn-outlined-orange text-orange text-hover-black">
        click me 
&lt;/a>
</pre>
<hr class="mt-1 mb-1">
<a href="#" class="btn-complement-purple">click me</a>

<br>
<h3>code</h3>
<pre class="shadow-xl codeeditor">

&lt;a href="#" class="btn-complement-purple">
    click me 
&lt;/a>

</pre>
<hr class="mt-1 mb-1">
<button class="btn btn-primary-text m-1">Text Primary Button</button>
<button class="btn btn-secondary-text m-1">Text Secondary Button</button>
<h3>code</h3>
<pre class="shadow-xl codeeditor">

&lt;button class="btn btn-primary-text">
    Text Primary Button 
&lt;/button>
&lt;button class="btn btn-secondary-text">
    Text Secondary Button 
&lt;/button>
</pre>

<hr class="mt-1 mb-1">
<button class="btn btn-primary-rounded m-1">Rounded Primary Button</button>
<button class="btn btn-secondary-rounded m-1">Rounded Secondary Button</button>
<h3>code</h3>
<pre class="shadow-xl codeeditor">
&lt;button class="btn btn-primary-rounded">
    Rounded Primary Button 
&lt;/button>
&lt;button class="btn btn-secondary-rounded">
    Rounded Secondary Button
&lt;/button>
</pre>